@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<!-- saved from url=(0035)# -->
<html lang="vi">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon"
          href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/favicon.png?v=18071225341662517451505927062">
    <link rel="apple-touch-icon"
          href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/favicon.png?v=18071225341662517451505927062">
    <title>Project ASP</title>
    <!-- CSS ================================================== -->
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/jquery-ui.css?v=178789559771118899891505927063" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/bootstrap.min.css?v=58221731202380851321505927059" rel="stylesheet" type="text/css" media="all" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" media="all" />



    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Rubik:300,400,500,700,900|Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" media="all" />


    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/stylesheet.css?v=23009252062468328141656106258" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/slideshow.css?v=140711560570640502891505927083" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/animate.css?v=77111770618005445401505927055" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/vermegamenu.css?v=64447643213278994331656106258" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/custommenu.css?v=12835451947663385001656106258" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/quickview.css?v=90341835775536251981505927083" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/layerednavigation.css?v=134007379778286699161505927082" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/magnific-popup.css?v=138341031337076160431505927068" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/custom.css?v=66544208175008774161505927082" rel="stylesheet" type="text/css" media="all" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/plugins/owl-carousel/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/plugins/owl-carousel/css/owl.theme.default.min.css" rel="stylesheet" />
    <!-- Header hook for plugins ================================================== -->
    <script type="text/javascript" async="" src="./oregon-theme_files/loader.js "></script>
    <script type="text/javascript" async=""
            src="./oregon-theme_files/trekkie.storefront.d8daae4e567311d393b5b6f23677c8264466f1ee.min.js "></script>
    <script integrity="sha256-qzgBevPPdZ2wrwu9HnUin2oYn1vx8ttCFpYwmYuWkCE="
            data-source-attribution="shopify.loadfeatures" defer="defer"
            src="./oregon-theme_files/load_feature-ab38017af3cf759db0af0bbd1e75229f6a189f5bf1f2db42169630998b969021.js "
            crossorigin="anonymous"></script>
    <script integrity="sha256-h+g5mYiIAULyxidxudjy/2wpCz/3Rd1CbrDf4NudHa4="
            data-source-attribution="shopify.dynamic-checkout" defer="defer"
            src="./oregon-theme_files/features-87e8399988880142f2c62771b9d8f2ff6c290b3ff745dd426eb0dfe0db9d1dae.js "
            crossorigin="anonymous"></script>

    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/modernizr-2.8.3.min.js?v=174727525422211915231505927068" type="text/javascript"></script>

    <!-- JavaScripts-->
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/jquery-2.1.1.min.js?v=43303329536609403911505927063" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/jquery-ui.js?v=5460370956738438071505927064" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/bootstrap.min.js?v=135618559580299884151505927059" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/jquery.nivo.slider.js?v=57598042676720587321505927066" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/ver_menu.js?v=70156879923412227951505927075" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/custommenu.js?v=119712520380229079471505927061" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/mobile_menu.js?v=99612729530795467461505927068" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/quickview.js?v=126487140723365717921505927083" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/layerednavigation.js?v=131115646223934759951505927067" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/jquery.elevatezoom.js?v=44917899168419629671505927065" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/common.js?v=167851983186180104881505927082" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/jquery.plugin.js?v=32089741984735079221505927066" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/jquery.bpopup.min.js?v=122137806088379782741505927065" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/jquery.cookie.js?v=177500111459531585031505927065" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/jquery.magnific-popup.min.js?v=36562446327542377791505927066" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js" type="text/javascript"></script>
    <script src="https://cdn.shopify.com/s/files/1/2297/6433/t/10/assets/shipping-cart.js?v=85671307779146767701505927073" type="text/javascript"></script>

    <script async="" src="https://static.hotjar.com/c/hotjar-630626.js?sv=5"></script>
    <meta property="og:image"
          content="https://cdn.shopify.com/s/files/1/2297/6433/files/logo2_cf2f7e8b-2863-405c-848a-6fec588b4eed.png?height=628&amp;pad_color=ffffff&amp;v=1613696522&amp;width=1200">
    <meta property="og:image:secure_url"
          content="https://cdn.shopify.com/s/files/1/2297/6433/files/logo2_cf2f7e8b-2863-405c-848a-6fec588b4eed.png?height=628&amp;pad_color=ffffff&amp;v=1613696522&amp;width=1200">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="628">
    <link href="https://monorail-edge.shopifysvc.com/" rel="dns-prefetch" />
</head>
<body class="common-home">
    <div id="shopify-section-header" class="shopify-section">
        <!--Start of Header Area-->
        <nav id="top">
            <div class="container">
                <div class="container-inner">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-sms-12">
                            <div class="language-currency">
                                <div class="language">
                                    <form action="#language" method="post"
                                          enctype="multipart/form-data">
                                        <div class="btn-group" id="form-language">
                                            <label>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Ngôn ngữ:</font>
                                                </font>
                                            </label>
                                            <button class="btn-link dropdown-toggle btn-language" data-toggle="dropdown">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Tiếng Việt
                                                    </font>
                                                </font>
                                            </button>
                                            <ul class="dropdown-menu" style="">
                                                <li>
                                                    <button class="btn btn-link btn-block language-select language-selected"
                                                            type="button" name="en-gb">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Tiếng Việt</font>
                                                        </font>
                                                    </button>
                                                </li>
                                                <li>
                                                    <button class="btn btn-link btn-block language-select" type="button"
                                                            name="fr-gb">
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">English</font>
                                                        </font>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="code" value="">
                                        <input type="hidden" name="redirect" value="/">
                                    </form>
                                </div>

                                <div class="currency">


                                    <div class="btn-group" id="form-currency">
                                        <label>
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">Tiền tệ</font>
                                            </font>
                                        </label>
                                        <button class="btn-link dropdown-toggle btn-currency" data-toggle="dropdown">
                                            <span class="selected-currency">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Dollar</font>
                                                </font>
                                            </span>
                                        </button>

                                        <ul name="currencies" class="dropdown-menu" style="">

                                            <li>
                                                <button class="currency-select btn btn-link btn-block currency-selected"
                                                        type="button" name="USD" value="USD">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Dollar</font>
                                                    </font>
                                                </button>
                                            </li>

                                            <li>
                                                <button class="currency-select btn btn-link btn-block " type="button"
                                                        name="EUR" value="USD">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">EUR</font>
                                                    </font>
                                                </button>
                                            </li>

                                            <li>
                                                <button class="currency-select btn btn-link btn-block " type="button"
                                                        name="GBP" value="USD">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">GBP</font>
                                                    </font>
                                                </button>
                                            </li>

                                            <li>
                                                <button class="currency-select btn btn-link btn-block " type="button"
                                                        name="PKR" value="USD">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">PKR</font>
                                                    </font>
                                                </button>
                                            </li>

                                            <li>
                                                <button class="currency-select btn btn-link btn-block " type="button"
                                                        name="CAD" value="USD">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">CAD</font>
                                                    </font>
                                                </button>
                                            </li>

                                            <li>
                                                <button class="currency-select btn btn-link btn-block " type="button"
                                                        name="JPY" value="USD">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">JPY</font>
                                                    </font>
                                                </button>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-sms-12">
                            <div id="top-links">
                                <ul class="list-inline">
                                    @if (Context.Session.GetString("Customer") == null)
                                    {
                                        <li>
                                            <a asp-action="Login" asp-controller="Home" id="customer_login_link">
                                                <span>
                                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Đăng nhập</font></font>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a asp-action="Register" asp-controller="Home"
                                               id="customer_register_link">
                                                <span>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Đăng ký</font>
                                                    </font>
                                                </span>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <a id="customer_login_link">
                                                <span>
                                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@Context.Session.GetString("Customer")</font></font>
                                                </span>
                                            </a>
                                        </li>

                                        <li>
                                            <a href="~/Home/Logout"
                                               id="customer_register_link">
                                                <span>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Đăng xuất</font>
                                                    </font>
                                                </span>
                                            </a>
                                        </li>
                                    }

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-sms-12">
                        <div id="logo">

                            <a href="~/Home" itemprop="url">
                                <img src="https://cdn.shopify.com/s/files/1/2297/6433/files/logo_b518ce80-a8f5-4e54-a2d5-72a20b431c0d.png?v=1613696505"
                                     alt="oregon-theme" itemprop="logo" class="img-responsive">
                            </a>

                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 col-sms-12">
                        <form method="get" asp-action="Search" asp-controller="Products">
                            <div id="search-by-category">
                                <div class="search-container">
                                    <div class="search-box">
                                        <input type="text" name="search" id="text-search" placeholder="Tìm kiếm..."
                                               aria-label="Tìm kiếm...">
                                        <div id="sp-btn-search" class="">
                                            <button type="submit" id="btn-search-category" class="btn btn-default btn-lg"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="free-support">
                            <div class="free-content">

                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Cuộc gọi hỗ
                                            trợ miễn phí:
                                        </font>
                                    </font>
                                </p>
                                <h2>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            0385 869 728
                                        </font>
                                    </font>
                                </h2>

                            </div>
                        </div>
                        <div class="header-right">
                            <div id="cart" class="btn-group ">
                                <div class="top-cart-contain">
                                    <div class="arrow-cart"></div>
                                    <button class="btn btn-cart">
                                        <span id="cart-total">
                                            <span class="cart-number">
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">@Context.Session.GetInt32("Count_Cart")</font>
                                                </font>
                                            </span>
                                        </span>
                                    </button>
                                </div>
                            </div>

                            <div class="header-wishlist">
                                <a href="#" id="wishlist-total"
                                   title="0"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="header-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-0">
                        <div class="vermagemenu hidden-xs hidden-sm">
                            <div class="content-vermagemenu">
                                <div class="title-vetical">
                                    <h2>
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">
                                                MUA
                                                SẮM THEO DANH MỤC
                                            </font>
                                        </font>
                                    </h2>
                                </div>
                                <div class="navleft-container">
                                    <div id="pt_vmegamenu" class="pt_vmegamenu">
                                        @foreach (Category cat in ViewBag.Category)
                                        {
                                            <div class="pt_ver_menu nav-1 pt_ver_menu_no_child">
                                                <div class="parentMenu">
                                                    <a asp-action="GetbyCategory" asp-route-id="@cat.CategoryID">
                                                        >
                                                        <span>
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">@cat.CategoryName</font>
                                                            </font>
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            //<![CDATA[
                            var CUSTOMMENU_POPUP_EFFECT = 1;
                            var CUSTOMMENU_POPUP_TOP_OFFSET = 20//]]>
                            $('.vermagemenu .title-vetical').click(function () {
                                $(".navleft-container").slideToggle("slow");
                            });
                        </script>
                    </div>
                    <div class="ma-nav-mobile-container">
                        <div class="hozmenu">
                            <div class="navbar">
                                <div id="navbar-inner" class="navbar-inner navbar-inactive">
                                    <div class="menu-mobile">
                                        <a class="btn btn-navbar navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </a>
                                        <span class="brand navbar-brand">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">THỂ LOẠI</font>
                                            </font>
                                        </span>
                                    </div>
                                    <ul role="menu" id="ma-mobilemenu" class="mobilemenu nav-collapse collapse">


                                        <li>
                                            <span class=" button-view1 no-close">
                                                <a href="h#">
                                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trang sức thời trang</font></font>
                                                </a>
                                                <span class="ttclose"><a href="javascript:void(0)"></a></span>
                                            </span>
                                            <ul class="level2" style="display: none;"></ul>
                                        </li>


                                        <li>
                                            <span class=" button-view1 no-close">
                                                <a href="">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Đồ nội thất</font>
                                                    </font>
                                                </a>
                                                <span class="ttclose"><a href="javascript:void(0)"></a></span>
                                            </span>
                                            <ul class="level2" style="display: none;"></ul>
                                        </li>


                                        <li>
                                            <span class=" button-view1 no-close">
                                                <a href="#">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Thiết bị điện tử</font>
                                                    </font>
                                                </a>
                                                <span class="ttclose"><a href="javascript:void(0)"></a></span>
                                            </span>
                                            <ul class="level2" style="display: none;"></ul>
                                        </li>
                                        <li>
                                            <span class=" button-view1 no-close">
                                                <a href="#">
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Di động &amp; Máy tính xách tay</font>
                                                    </font>
                                                </a>
                                                <span class="ttclose"><a href="javascript:void(0)"></a></span>
                                            </span>
                                            <ul class="level2" style="display: none;"></ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end menu area -->

                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="nav-container visible-lg visible-md">
                            <div class="nav1">
                                <div class="nav2">
                                    <div role="menu" id="pt_custommenu" class="pt_custommenu">
                                        <div class="pt_menu nav-1 pt_menu_had_child  act active">
                                            <div class="parentMenu">
                                                <a href="~/Home">
                                                    <span>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Nhà</font>
                                                        </font>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="pt_menu pt_menu_no_child">
                                            <div class="parentMenu">
                                                <a href="~/Products">
                                                    <span>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Sản phẩm</font>
                                                        </font>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>



                                        <div class="pt_menu nav-5 pt_menu_had_child ">
                                            <div class="parentMenu">
                                                <a href="">
                                                    <span>
                                                        <font style="vertical-align: inherit;">
                                                            <font style="vertical-align: inherit;">Các trang</font>
                                                        </font>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="popup" style="display: none; width: 1228px;">
                                                <div class="inner-popup">
                                                    <div class="block1">
                                                        <div class="column last col1">
                                                            <div class="itemMenu level1">

                                                                <a class="itemMenuName level1 act nochild"
                                                                   href="#">
                                                                    <span>
                                                                        <font style="vertical-align: inherit;">
                                                                            <font style="vertical-align: inherit;">Liên hệ chúng tôi</font>
                                                                        </font>
                                                                    </span>
                                                                </a>



                                                                <a class="itemMenuName level1 act nochild"
                                                                   href="#">
                                                                    <span>
                                                                        <font style="vertical-align: inherit;">
                                                                            <font style="vertical-align: inherit;">Trang sản phẩm</font>
                                                                        </font>
                                                                    </span>
                                                                </a>

                                                                <a class="itemMenuName level1 act nochild"
                                                                   href="">
                                                                    <span>
                                                                        <font style="vertical-align: inherit;">
                                                                            <font style="vertical-align: inherit;">Đăng nhập</font>
                                                                        </font>
                                                                    </span>
                                                                </a>

                                                                <a class="itemMenuName level1 act nochild"
                                                                   href="#">
                                                                    <span>
                                                                        <font style="vertical-align: inherit;">
                                                                            <font style="vertical-align: inherit;">Đăng ký</font>
                                                                        </font>
                                                                    </span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="clearBoth"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        //<![CDATA[
                        var body_class = $('body').attr('class');
                        if (body_class == 'common-home') {
                            $('#pt_menu_home').addClass('act');
                        }

                        var CUSTOMMENU_POPUP_EFFECT = 1;
                        var CUSTOMMENU_POPUP_TOP_OFFSET = 60
                        //]]>
                    </script>
                </div>
            </div>
        </div>

    </div>

    <div id="content">

        <!-- BEGIN content_for_index -->
        <div class="shopify-section index-section index-section--flush">
            <div class="row full-width">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="">
                                <!--Slider Area Start-->
                                <div class="banner7">

                                    <div class="oc-banner7-container" id="Slideshow-1480267833382">
                                        <div class="flexslider oc-nivoslider our_story">
                                            <div class="oc-loading" style="display: none;"></div>
                                            <div class="slides static_video nivoSlider">
                                                <img class="nivo-main-image"
                                                     src="https://cdn.shopify.com/s/files/1/2297/6433/files/1-1920x600_1920x839.jpg?v=1613696505"
                                                     style="display: inline;">
                                                <div class="nivo-caption">
                                                    <div class="timeloading"></div>
                                                    <div class="banner7-content slider-2">
                                                        <div class="text-content"
                                                             style="top:50%;right:0%;left:10%;width:350px;text-align:left;">

                                                            <h1 class="title1" style="font-size:36px; color:#ede554;">
                                                                <span>
                                                                    <font style="vertical-align: inherit;">
                                                                        <font style="vertical-align: inherit;">ĐỒNG HỒ APPLE</font>
                                                                    </font>
                                                                </span>
                                                            </h1>
                                                            <h2 class="sub-title" style="font-size:44px;color:#ffffff;">
                                                                <span>
                                                                    <font style="vertical-align: inherit;">
                                                                        <font style="vertical-align: inherit;">Giảm giá 75%</font>
                                                                    </font>
                                                                </span>
                                                            </h2>
                                                            <div class="banner7-des" style="font-size:23px;color:#ffffff;">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">
                                                                        Ở mức $ 199 - chỉ cho hôm nay
                                                                    </font>
                                                                </font>
                                                            </div>
                                                            <div class="banner7-readmore">
                                                                <a href=""
                                                                   style="background:#1891ac;color:#ffffff;border-color:#ffffff;">
                                                                    <font style="vertical-align: inherit;">
                                                                        <font style="vertical-align: inherit;">
                                                                            Đọc thêm
                                                                        </font>
                                                                    </font>
                                                                </a>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nivo-directionNav">
                                                    <a class="nivo-prevNav">
                                                        <i class="fa fa-angle-left"></i>
                                                    </a><a class="nivo-nextNav">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="nivo-controlNav">
                                                <a class="nivo-control active">
                                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1</font></font>
                                                </a><a class="nivo-control">
                                                    <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">2</font></font>
                                                </a>
                                            </div>


                                            <div id="banner7-caption1"
                                                 class="banner7-caption nivo-html-caption nivo-caption">
                                                <div class="timeloading" style="animation-duration: 10000ms;"></div>
                                                <div class="banner7-content slider-2">
                                                    <div class="text-content"
                                                         style="top:50%;right:0%;left:10%;width:350px;text-align:left;">

                                                        <h1 class="title1" style="font-size:36px; color:#ede554;">
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">ĐỒNG HỒ APPLE</font>
                                                                </font>
                                                            </span>
                                                        </h1>


                                                        <h2 class="sub-title" style="font-size:44px;color:#ffffff;">
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Giảm giá 75%</font>
                                                                </font>
                                                            </span>
                                                        </h2>


                                                        <div class="banner7-des" style="font-size:23px;color:#ffffff;">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">
                                                                    Ở mức $ 199 - chỉ cho hôm nay
                                                                </font>
                                                            </font>
                                                        </div>


                                                        <div class="banner7-readmore">
                                                            <a href="#"
                                                               style="background:#1891ac;color:#ffffff;border-color:#ffffff;">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">
                                                                        Đọc thêm
                                                                    </font>
                                                                </font>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div id="banner7-caption2"
                                                 class="banner7-caption nivo-html-caption nivo-caption">
                                                <div class="timeloading" style="animation-duration: 10000ms;"></div>
                                                <div class="banner7-content slider-1">
                                                    <div class="text-content"
                                                         style="top:50%;right:0%;left:10%;width:350px;text-align:left;">

                                                        <h1 class="title1" style="font-size:36px; color:#ede554;">
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Đồng hồ LG</font>
                                                                </font>
                                                            </span>
                                                        </h1>


                                                        <h2 class="sub-title" style="font-size:44px;color:#ffffff;">
                                                            <span>
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">Giảm giá cố định 75%</font>
                                                                </font>
                                                            </span>
                                                        </h2>


                                                        <div class="banner7-des" style="font-size:23px;color:#ffffff;">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">
                                                                    Ở mức $ 99 - chỉ cho hôm nay
                                                                </font>
                                                            </font>
                                                        </div>


                                                        <div class="banner7-readmore">
                                                            <a href="#"
                                                               style="background:#1891ac;color:#ffffff;border-color:#ffffff;">
                                                                <font style="vertical-align: inherit;">
                                                                    <font style="vertical-align: inherit;">
                                                                        Đọc thêm
                                                                    </font>
                                                                </font>
                                                            </a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                            </div>
                            <script type="text/javascript">
                                $(window).load(function () {
                                    $('#oc-inivoslider').nivoSlider({
                                        effect: 'random',
                                        slices: 15,
                                        boxCols: 8,
                                        boxRows: 4,
                                        manualAdvance: false,
                                        animSpeed: 500,
                                        pauseTime: '10000',
                                        startSlide: 0,
                                        controlNav: true,
                                        directionNav: true,
                                        controlNavThumbs: false,
                                        pauseOnHover: false,
                                        prevText: '<i class="fa fa-angle-left"></i>',
                                        nextText: '<i class="fa fa-angle-right"></i>',
                                        afterLoad: function () {
                                            $('.oc-loading').css("display", "none");
                                            $('.timeloading').css('animation-duration', '10000ms');
                                        },
                                    });
                                });
                            </script>
                            <!--End of Slider Area-->
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="shopify-section">
            <div class="row full-width ">
                <div class="container">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
        <div id="shopify-section" class="shopify-section index-section index-section--flush">
            <!--Brand Area Start-->
            <div class="banner-ourbrands">
                <div class="container">

                    <div class="module-title">
                        <h2>Logo Brands &amp; Clients</h2>
                    </div>


                    <div class="row">
                        <div id="banner0" class="owl-carousel owl-theme" style="opacity: 1; display: block;">


                            <div class="owl-wrapper-outer">
                                <div class="owl-wrapper" style="width: 3360px; left: 0px; display: block;">
                                    <div class="owl-item" style="width: 240px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="https://cdn.shopify.com/s/files/1/2297/6433/files/1-210x100_210x100.jpg?v=1613696510" alt=""
                                                     class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 240px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="https://cdn.shopify.com/s/files/1/2297/6433/files/2-210x100_210x100.jpg?v=1613696510" alt=""
                                                     class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 240px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="https://cdn.shopify.com/s/files/1/2297/6433/files/3-210x100_210x100.jpg?v=1613696510" alt=""
                                                     class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 240px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="https://cdn.shopify.com/s/files/1/2297/6433/files/5-210x100_210x100.jpg?v=1613696510" alt=""
                                                     class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="owl-item" style="width: 240px;">
                                        <div class="item">
                                            <a href="#">
                                                <img src="https://cdn.shopify.com/s/files/1/2297/6433/files/4-210x100_210x100.jpg?v=1613696510" alt=""
                                                     class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- END content_for_index -->

    </div>

    <!-- End Content -->

    <div id="shopify-section-footer" class="shopify-section section-footer">
        <!--Footer Start-->
        <footer>
            <div class="footer-static">
                <div class="container">
                    <div class="container-inner">
                        <div class="row">
                            <div class="col-sm-12 col-md-4 col-xs-12">
                                <div class="col col1">
                                    <div class="footer-title">
                                        <h3>About Us</h3>
                                    </div>
                                    <div class="footer-content">
                                        <div class="logo-footer">

                                            <a href="#" itemprop="url">
                                                <img src="https://cdn.shopify.com/s/files/1/2297/6433/files/logo_b518ce80-a8f5-4e54-a2d5-72a20b431c0d.png?v=1613696505"
                                                     alt="oregon-theme" itemprop="logo">
                                            </a>

                                        </div>
                                        <p class="desc-footer">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    Chúng tôi là một nhóm các nhà thiết kế và
                                                    nhà phát triển tạo ra các chủ đề Shopify chất lượng cao.
                                                </font>
                                            </font>
                                        </p>
                                        <div class="address">
                                            <label>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">Địa chỉ nhà :</font>
                                                </font>
                                            </label><font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;">
                                                    123
                                                    Main Street, Anytown, CA 12345 USA.
                                                </font>
                                            </font>
                                        </div>


                                        <div id="cmsblock-footer" class="cmsblock">
                                            <div class="description">
                                                <ul class="social-footer" data-aos="fade-in-up" data-aos-delay="450"
                                                    data-aos-offset="500" data-aos-duration="500"
                                                    data-aos-anchor=".section-footer">

                                                    <li class="first facebook">
                                                        <a data-toggle="tooltip" data-placement="bottom"
                                                           href="https://facebook.com/shopify"
                                                           title="oregon-theme trên Facebook">
                                                        </a>
                                                    </li>


                                                    <li class="twitter">
                                                        <a data-toggle="tooltip" data-placement="bottom"
                                                           href="https://twitter.com/shopify"
                                                           title="oregon-theme trên Twitter">
                                                        </a>
                                                    </li>


                                                    <li class="pinterest">
                                                        <a data-toggle="tooltip" data-placement="bottom"
                                                           href="https://pinterest.com/shopify"
                                                           title="oregon-theme trên Pinterest">
                                                        </a>
                                                    </li>


                                                    <li class="google">
                                                        <a data-toggle="tooltip" data-placement="bottom"
                                                           href="https://plus.google.com/+shopify"
                                                           title="oregon-theme trên Google" rel="publisher">
                                                        </a>
                                                    </li>


                                                    <li class="instagram">
                                                        <a data-toggle="tooltip" data-placement="bottom"
                                                           href="https://instagram.com/shopify"
                                                           title="oregon-theme trên Instagram">
                                                        </a>
                                                    </li>


                                                </ul>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8 col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="col col2">
                                            <div class="footer-title">
                                                <h3>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Thực đơn chính</font>
                                                    </font>
                                                </h3>
                                            </div>
                                            <div class="footer-content">
                                                <ul class="list-unstyled">

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Nhà</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Sản phẩm mới</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Người bán hàng giỏi nhất</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Đặc biệt</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Các trang</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="col col3">
                                            <div class="footer-title">
                                                <h3>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Thực đơn chính</font>
                                                    </font>
                                                </h3>
                                            </div>
                                            <div class="footer-content">
                                                <ul class="list-unstyled">

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Nhà</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Sản phẩm mới</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Người bán hàng giỏi nhất</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Đặc biệt</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Các trang</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="col col4">
                                            <div class="footer-title">
                                                <h3>
                                                    <font style="vertical-align: inherit;">
                                                        <font style="vertical-align: inherit;">Thực đơn chính</font>
                                                    </font>
                                                </h3>
                                            </div>
                                            <div class="footer-content">
                                                <ul class="list-unstyled">

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Nhà</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Sản phẩm mới</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Người bán hàng giỏi nhất</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Đặc biệt</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#">
                                                            <font style="vertical-align: inherit;">
                                                                <font style="vertical-align: inherit;">Các trang</font>
                                                            </font>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-8" style="margin-top:15px">
                            <div class="container">
                                <p>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Bản quyền ©
                                            2017
                                        </font>
                                    </font><a href="http://masstechnologist.com/">
                                        <font style="vertical-align: inherit;">
                                            <font style="vertical-align: inherit;">MassTechnologist.com.</font>
                                        </font>
                                    </a><font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">
                                            Đã đăng ký Bản
                                            quyền.
                                        </font>
                                    </font>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-sms-12">
                            <div id="cmsblock-23" class="cmsblock">
                                <div class="description">
                                    <div class="footer-paypal">

                                        <ul class="list-unstyled list-inline ct-socials text-center-sm ct-payment">


                                            <li>
                                                <a class="f-payment icon fa fa-cc-visa fa-2x" aria-hidden="true"></a>
                                            </li>

                                            <li>
                                                <a class="f-payment icon fa fa-cc-mastercard fa-2x" aria-hidden="true"></a>
                                            </li>

                                            <li>
                                                <a class="f-payment icon fa fa-cc-amex fa-2x" aria-hidden="true"></a>
                                            </li>

                                            <li>
                                                <a class="f-payment icon fa fa-cc-paypal fa-2x" aria-hidden="true"></a>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="back-top" style="display: none;"></div>
            <script type="text/javascript">
                $(document).ready(function () {
                    // hide #back-top first
                    $("#back-top").hide();
                    // fade in #back-top
                    $(function () {
                        $(window).scroll(function () {
                            if ($(this).scrollTop() > 300) {
                                $('#back-top').fadeIn();
                            } else {
                                $('#back-top').fadeOut();
                            }
                        });
                        // scroll body to 0px on click
                        $('#back-top').click(function () {
                            $('body,html').animate({ scrollTop: 0 }, 800);
                            return false;
                        });
                    });
                    if (jQuery(window).width() < 992) {
                        jQuery('.footer-static .footer-title').click(function () {
                            jQuery(this).parent('.col').toggleClass('active').siblings().removeClass('active');
                            jQuery(this).next('.col .footer-content').toggle(300);
                            jQuery(this).parent('.col.active').siblings().children('.col .footer-content').slideUp(300);
                        });

                    }
                });
            </script>
        </footer>

        <!--End of Footer-->


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        $('.btn-cart').click(function () {
            location.href = "https://localhost:44379/Carts";
        })
    </script>
    <script src="~/plugins/owl-carousel/js/owl.carousel.min.js"></script>
    <script type="text/javascript">
        $('.countdown-product-inner').owlCarousel({
            autoPlay: true,
            items: 2,
            itemsDesktop: [1199, 2],
            itemsDesktopSmall: [991, 1],
            itemsTablet: [767, 1],
            itemsMobile: [480, 1],
            slideSpeed: 1000,
            paginationSpeed: 3000,
            navigation: true,
            stopOnHover: true,
            pagination: false,
            scrollPerPage: true,
        });
        $(".related-product").owlCarousel({
            navigation: true,
            pagination: false,
            slideSpeed: 500,
            goToFirstSpeed: 1500,
            items: 4,
            itemsDesktop: [1199, 4],
            itemsDesktopSmall: [767, 3],
            itemsTablet: [640, 2],
            itemsMobile: [480, 1],
            addClassActive: true,
            afterAction: function (el) {
                this.$owlItems.removeClass('before-active')
                this.$owlItems.removeClass('last-active')
                this.$owlItems.eq(this.currentItem).addClass('before-active')
                this.$owlItems.eq(this.currentItem + (this.owl.visibleItems.length - 1)).addClass('last-active')
            }
        });
    </script>
</body>
</html>