@model IEnumerable<ProjectASP.Models.Account>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminTemplate.cshtml";
}

<h2 class="text-center">Quản lý Tài khoản</h2>

<p>
    <a class="btn btn-secondary" asp-action="Create">Thêm mới</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DayCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @item.Birthday.ToString("dd/MM/yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @item.DayCreated.ToString("dd/MM/yyyy")
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.AccountID"><i class="fas fa-tools"></i></a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.AccountID"><i class="fas fa-list"></i></a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AccountID"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
