@model IEnumerable<ProjectASP.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container layer-category">


    <!-- Breadcumb area start -->
    <ul class="breadcrumb">
        <li>
            <a href="#" title="Back to the frontpage">
                Trang chủ
            </a>
        </li>

        <li>
            <a href="#"><span>Sản Phẩm</span></a>
        </li>

    </ul>
    <!--End Breadcumb area -->


    <div class="row">

        <aside id="column-left" class="col-sm-3 col-md-3 hidden-xs">
            <div class="layernavigation-module">
                <div class="panel panel-default">
                    <div class="layered-heading module-title">
                        <h2>Sản Phẩm</h2>
                    </div>
                    <div class="layered">
                        <div class="list-group">
                            <div class="filter-attribute-container filter-attribute-remove-container">
                            </div>
                            <div class="filter-attribute-container">
                                <label>Danh mục</label>
                                <div class="list-group-item">
                                    <div id="filter-group0">
                                        <a class="a-filter add-filter advanced-filter" href="~/Products">Tất Cả</a>
                                        @foreach (var category in ViewBag.Category)
                                        {
                                            <a class="a-filter add-filter advanced-filter"
                                               asp-action="GetbyCategory" asp-route-id="@category.CategoryID">
                                                @category.CategoryName
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="filter-attribute-container">
                                <label>Giá</label>
                                <div class="list-group-item">
                                    <div id="mylink" class="advanced-filters" data-filter-group="price">
                                        <span>
                                            <a href="~/Products/FilterByPrice?type=1"
                                               class="advanced-filter a-filter add-filter">0-3,000,000</a>
                                        </span>
                                        <span>
                                            <a href="~/Products/FilterByPrice?type=2"
                                               class="advanced-filter a-filter add-filter">3,000,000-5,000,000</a>
                                        </span>
                                        <span>
                                            <a href="~/Products/FilterByPrice?type=3"
                                               class="advanced-filter a-filter add-filter">5,000,000-10,000,000</a>
                                        </span>
                                        <span>
                                            <a href="~/Products/FilterByPrice?type=4"
                                               class="advanced-filter a-filter add-filter">10,000,000-15,000,000</a>
                                        </span>
                                        <span>
                                            <a href="~/Products/FilterByPrice?type=5"
                                               class="advanced-filter a-filter add-filter">Khác</a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cmsblock-31" class="cmsblock">
                <div class="description">
                    <div class="banner-left">
                        <a href="#">
                            <img src="//cdn.shopify.com/s/files/1/2297/6433/t/10/assets/collection_side.jpg?v=88671093377915515291505927060" alt="#">
                        </a>
                    </div>
                </div>
            </div>

        </aside>
        <div id="content" class="col-md-9 col-sm-9 col-xs-12">

            <div class="category-info">
            </div>
            <div class="custom-category">
                <div id="wraper_ajax" class="loadding_ajaxcart"><i class="fa fa-spinner fa-spin"></i></div>

                <div class="toolbar">
                    <div class="toolbar1">
                        <div class="btn-group">
                            <button type="button" id="list-view" data-view="list" class="btn btn-default"
                                    data-toggle="tooltip" title="List"></button>
                            <button type="button" id="grid-view" data-view="grid" class="btn btn-default  selected"
                                    data-toggle="tooltip" title="Grid"></button>
                        </div>
                        <!-- Nav tabs -->
                    </div>
                    <div class="toolbar3">
                        <select name="" id="input-limit" class="form-control">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="all">Tất cả</option>
                        </select>
                    </div>
                    <div class="toolbar2">
                        <select class="form-control" id="input_sort">
                            <option value="manual">Mặc định</option>
                            <option value="best-sale">Theo giảm giá</option>
                            <option value="name-ascending">Sắp xếp từ A-Z</option>
                            <option value="name-descending">Sắp xếp từ Z-A</option>
                            <option value="price-ascending">Giá tăng dần</option>
                            <option value="price-descending">Giá giảm dần</option>
                            <option value="created-descending">Sản phẩm mới nhất</option>
                            <option value="created-ascending">Sản phẩm cũ nhất</option>
                        </select>
                    </div>
                </div>
                <div class="custom-products quickview-products" id="custom-products">
                    <div class="row">
                        @foreach (var product in Model)
                        {
                            <div class="product-layout product-grid col-md-4 col-sm-6 col-xs-6 four-items">
                                <div class="product-thumb item-inner">
                                    <div class="images-container">
                                        <a class="" href="#">
                                            <img class="image1"
                                                 src="~/images/products/@product.ProductImage"
                                                 alt="@product.ProductName">
                                        </a>
                                        @if (product.SalePrice != 0)
                                        {
                                            <span class="sale" style="position: absolute;
                                    margin-top: 10px;max-width:45px;
                                    padding: 10px 5px;
                                    background: #fc9003;color:#fff;
                                    margin-left: -65px;
                                    border-radius: 0 0 10px 10px;">
                                                Sale
                                                @String.Format("{0,12:#}", ((product.Price - product.SalePrice) / product.Price) * 100) %
                                            </span>
                                        }
                                        <div class="actions">
                                            <div class="add-to-links">
                                                <div class="compare">
                                                    <a asp-action="Details" asp-route-id="@product.ProductID" class="link-compare" title="View Details">
                                                        <em>View Details</em>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- images-container -->
                                    <div class="des-container">
                                        <div class="des-content">
                                            <h2 class="product-name">
                                                <a asp-action="Details" asp-route-id="@product.ProductID">
                                                    @product.ProductName
                                                </a>
                                            </h2>
                                            <div class="price-label">
                                                <div class="box-price">
                                                    <p class="price">Giá : @String.Format("{0:0,00}", product.SalePrice == 0 ? product.Price : product.SalePrice) VNĐ</p>
                                                </div>
                                            </div>
                                            <p class="product-des">
                                                Sản xuất tại @product.MadeIn
                                            </p>

                                        </div>
                                        <div class="item-hover">
                                            <div class="cart">
                                                <button class="button btn-cart" type="button" data-toggle="tooltip"
                                                        data-loading-text="Loading..." title="Add to Cart">
                                                    <span><span>Thêm vào giỏ hàng</span></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--des-container-->
                                </div>
                                <!-- item-inner -->
                            </div>
                        }
                    </div>
                </div>
                <div class="row toolbar4" id="pagination">
                    <div class="col-sm-6">
                        <ul class="pagination">
                            @for (int i = 1; i <= ViewBag.TotalPage; i++)
                            {
                                @if (i == ViewBag.CurrentPage)
                                {
                                    <li class="active">
                                        <a href="~/Products?page=@i">@i</a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a href="~/Products?page=@i">@i</a>
                                    </li>
                                }
                            }
                        </ul>

                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="product-results">Showing 1 to the end</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
    $('#input_sort').change(function () {
        var _value = $(this).val();
        location.href = "https://localhost:44379/Products/OrderBy?orderby=" + _value;
    })
</script>

